
.back_ground
{
    background-color: rgb(107, 16, 36);
}


*{
    box-sizing: border-box;

}


#nav_style
{
    text-transform: uppercase;
}

#main_heading
{
    text-transform: uppercase;
}


#box1
{
    height:800px;
}
.box
{

    background-color: brown; 
    margin-top:40px;
    width:auto;
    height: 300px;
    border: 3px solid;
    border-color: black;

}
.para_setting
{
    color:rgb(251, 253, 253);
text-align: justify;
text-indent: 3px;
overflow:auto; 
}

.text-center
{
    color :black;
    margin-bottom: 15px;
}

.onlymobile
{
    border-color:black;
    border: 3px solid;
}


